<% content_for :scripts do -%>
  <script type="text/javascript">
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        // the user is logged in and connected to your
        // app, and response.authResponse supplies
        // the user's ID, a valid access token, a signed
        // request, and the time the access token 
        // and signed request each expire
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
//        alert("connected");
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook, 
        //but not connected to the app
//        alert("not authorized");
      } else {
        // the user isn't even logged in to Facebook.
//        alert("not logged in");
      }
    });

  </script>
<% end -%>

<div id="bubble">
  <div id="bubble-text">
    서울시 지도에<br />
    마우스를 올려보세요!
  </div>
</div>

<div class="pefix_1 grid_11">
  <div id="seoul-map">
    <%= image_tag '/assets/dummy_map.gif' %>
  </div>
</div>


<% content_for :sidebar do -%>
  <div id="vs-container" class="clearfix">
    <h3 id="vs-district">지역구</h3>
    <div class="vs-part alpha"></div>
    <div class="vs-part omega"></div>
  </div>

  <div id="busan-map" class="small-map">
    <%= image_tag '/assets/busan_map_small.png' %>
  </div>
<% end -%>
