<div class="page-header">
  <h1>wepoll.or.kr <small>선거문화를 바꾸는 위폴!</small></h1>
</div>

<h3>통합검색</h3>
<div class="row">
  <div class="span5">
    <%= form_tag 'uni-search', :class => "form-search well" do %>
      <%= text_field_tag "query", nil, :class => "input-large search-query", :placeholder => "지역구나 정치인을 입력하세요"%>
      <%= button_tag "Search", :class => 'btn' %>
    <% end -%>
  </div>
</div>

<h3>지역구지도</h3>
<div class="row">
<div class="span8 offset2 well">
  <%= image_tag '/assets/dummy/map.gif' %>
</div>
</div>
