<li><span class="message_reply_user_nickname"><%= message_reply.user.nickname unless message_reply.user.nil? %></span><span class="message_reply_content"><span class="message_reply_body"><%= message_reply.body %></span><span class="message_reply_created_at"><%= message_reply.created_at.strftime("%y.%m.%d %H:%M") %></span></span></li>
