<% if @token.nil? -%>
  <p>연결된 토큰 없음. 잘못된 접근입니다.</p>
<% elsif @token.approved -%>
  <p>이미 <%=params[:provider]%>로 위폴을 이용하실 수 있습니다.</p>
<% else -%>
  <p>
  메일을 못받으셨을 경우,<br />
  메일 전송에 시간이 좀 걸릴 수 있으니 잠시 기다리시거나,<br />
  <a href="#">여기</a>를 눌러 인증메일을 새로 받으실 수 있습니다.
  </p>
<% end -%>

