<div class="subsection">?/??</div> <!-- 공약이행률 -->

<div class="subsection"> <!-- 대표발의법안 -->
  <%= render :partial => "initiate_bills_summary" %>
</div>

<div class="clearfix subsection"> <!-- 공동발의일치 -->
  <%= render :partial => "top_joint_initiate" %>
</div>

<div class="subsection"> <!-- 본회의출석률 -->
  <div id="attendance_<%= @politician.id %>" class="bar-graph"
    data-color="red"
    data-total="100"
    data-value="50">
  </div>
</div>

<script type="text/javascript">
  $("#attendance_<%= @politician.id %>").simpleBarGraph({
    width:176,
    height:5
  });
</script>

