<div>?/??</div> <!-- 공약이행률 -->

<div> <!-- 대표발의법안 -->
  <%= render :partial => "initiate_bills_summary" %>
</div>

<div> <!-- 공동발의일치 -->
  <%= render :partial => "top_joint_initiate" %>
</div>

<div> <!-- 본회의출석률 -->
  <div class="attendance bar-graph"
    data-color="red"
    data-total="100"
    data-value="50">
  </div>
</div>

