<%= render @entries %>
<div id="popular-paginator-politician-<%=@p.id %>">
  <% if @entries.current_page != @entries.num_pages && @entries.num_pages != 0 %>
    <%= link_to '>', popular_links_of_politician_path(@p, :page => @entries.current_page + 1), :id => "popular-next-page-#{@p.id}", :class => "next-links-page" %>
  <% end -%>
</div>
