// Place all the styles related to the district controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// =require jcombobox

#vs-content-wrapper {
  background-color:#fff;
  padding: 35px 20px;
  width:740px - 40px;
  -o-border-radius:14px;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:14px;
  behavior:url(http://choco.wafflestudio.net:7765/PIE.htc);
}

#district-title {
  font-family:Nanum Gothic, 나눔고딕, 나눔 고딕, NanumGothic, Malgun Gothic, MalgunGothic, 맑은고딕, 맑은 고딕sans-serif;
  font-weight:bold;
  font-size:15pt;
  #district-label {
    color:#ef4d28;
  }

}

#district-desc {
  color:#969696;
  font-size:12pt;
  margin-top:13px;
    margin-bottom:30px;
}

.namecard {
  float:left;
  width:280px;
  margin-bottom:35px;
  &.alpha {
  }
  &.omega {
  }
}

#name-cards {
  margin:0 auto;
  width:700px;
}

.tweet-bubble {
	a {
		text-decoration: none;
    color: black;
  	line-height: 140%;
  }
  &.left {
    background:url(/assets/bubble_tweet_left.jpg) no-repeat;
    margin-left:12px;
  }
  &.right {
    background:url(/assets/bubble_tweet_right.jpg) no-repeat;
    margin-left:12px;
  }

  width:260px - 40px - 25px;
  height:160px - 34px - 25px;
  padding-top: 34px;
  padding-left: 40px;
  padding-right:25px;
  padding-bottom:25px;
}

#split-bar {
  width:120px;
  background:url(/assets/vs_mark.gif) no-repeat 0px 95px;
  float:left;
  text-indent:-999px;
  height:470px;
  padding:0 10px;
}

.politician-photo-wrapper {
  position:relative;
  height:170px;
  width:170px;
  margin:0 15px;

  &.left {
    float:right;
  }

  &.right {
    float:left;
  }

  .photo-frame {
    background:url(/assets/photo_frame.png) no-repeat;
    width:170px;
    height:170px;
    position:absolute;
  }

  img {
    display:block;
    width:160px;
    height:160px;
    top:5px;
    left:5px;
    position:absolute;
  }
}

.gray { border:2px solid #4f4f50; font-size:12pt; font-weight:bold; color:#0080c0; background-color:#d5f1ff; }
.gray .menu { border:1px solid #06aeff; }
.gray-hover { border-color:#06aeff; }
.gray .current { background-color:#0080c0 !important; color:#fff !important; }


.politician-select {
  width:165px;
}


.link-button {
  display:block;
  width:192px;
  height:48px;
  background:url(/assets/btn_link.jpg) no-repeat;
  padding:0;margin:0;
  margin-top:20px;
  border:0;
  text-indent:-999px;
  cursor:hand;
  cursor:pointer;
  &.left {
    float:right;
  }
  &.right{
    float:left;
  }
}

#p1-good-link, #p2-good-link {
  margin-bottom:20px;
}

#p1-good-link, #p1-bad-link {
  float:right;
}
#p2-good-link, #p2-bad-link {
  float:left;
}

.graph-stopper {
  height:18px;
  width:4px;
  background-color:#000;
  &.left {
    float:left;
  }
  &.right {
    float:right;
  }
}

.link-label {
  font-size: 15pt;
  font-weight:bold;
}

.good-links .link-label {
    color:#60cbfa;
}
.bad-links .link-label {
    color:#4a4a4a;
}

#p1-good-link .link-label, #p1-bad-link .link-label {
  margin-right:16px;
}
#p2-good-link .link-label, #p2-bad-link .link-label {
  margin-left:16px;
}

.icn-bar-graph {
  width:23px;
  height:22px;
  display:block;
  margin:0 auto;
}

@mixin border-top-left-radius($x) {
  -o-border-top-left-radius: $x;
  -moz-border-top-left-radius: $x;
  -webkit-border-top-left-radius: $x;
  border-top-left-radius: $x;
}
@mixin border-top-right-radius($x) {
  -o-border-top-right-radius: $x;
  -moz-border-top-right-radius: $x;
  -webkit-border-top-right-radius: $x;
  border-top-right-radius: $x;
}


#tabs {
  a {
    width:130px;
    height:38px - 14px;
    padding-top:14px;
    float:left;
    display:block;
    background-color:#f4f4ee;
    text-decoration:none;
    text-align:center;
    color:#0073de;
    font-size:11pt;
    position:relative;
    
    border-radius:7px 7px 0 0;
    -o-border-radius:7px 7px 0 0;
    -moz-border-radius:7px 7px 0 0;
    -webkit-border-radius:7px 7px 0 0;
    behavior:url(http://choco.wafflestudio.net:7765/PIE.htc);

    margin:0 4px;

    &.selected {
      color:#000;
      background-color:#e6e6dc;
    }
    &.alpha {
      margin-left:0;
    }

    &.omega {
      margin-right:0;
    }
  }
}

#tab-sections-container {
  background-color:#e6e6dc;
  width:700px - 20px;
  padding:10px;
}

//국회활동 탭 
a.init-bills-link {
  text-decoration:none;
  margin:0 auto;
  display:block;
}


@mixin border-radius($x) {
  -o-border-radius: $x;
  -moz-border-radius: $x;
  -webkit-border-radius: $x;
  border-radius: $x;
}
.subsection-label {
  width:130px;
  min-height:43px;
  display:block;
  float:left;
  background:url(/assets/bg_subsection_label.gif) no-repeat;
  text-align:center;
  padding-top:10px;
  color:#fff;
  font-size:11pt;
}

.subsection {
  width:700 - 20px;
  background-color:#fff;
  @include border-radius(7px);
  behavior:url(http://choco.wafflestudio.net:7765/PIE.htc);
  position:relative;
  margin-bottom:8px;
  .left {
    float:left;
    width: 275px;
  }

  .right {
    float:right;
    width: 275px;
  }
}

.attendance {
  font-size:25pt;
  font-weight:bold;
  display:block;
  text-align:center;
  height:85px - 25px;
  margin-top: 25px;
}

.tab-section {
  width:700px - 20px;
}

.joint-politicians {
 margin:15px auto; 
}

.joint-politician {
  margin:0 18px;
  margin-bottom:5px;
  width:100px;
  float:left;
  &.alpha {
 //   margin-left:0;
  }
  &.omega {
//    margin-right:0;
  }

  .joint-info {
    text-align:center;
    margin-top:5px;
  }
  img {
    border:1px solid #454545;
    display:block;
    margin:0 auto;
    width:100px; height:100px;
  }
}

.profile {
  font-size:11pt;
  color:#4f4f50;
  text-align:center;
  padding-top:30px;
}

.profile-item {
  margin-bottom:20px;
  .subsection-label {
    margin-top:-10px;
    background:url(/assets/bg_subsection_label_gray.gif) no-repeat;
  }

  .left, .right {
    width:275px - 20px;
    margin:0 10px;
  }
}

#show-timeline {
  background:url(/assets/btn_show_timeline.gif) no-repeat;
  width:40px;
  height:153px;
  position:fixed;
  top:150px;
  left:0;
  display:block;
}


//bill popup
#popup-bills {
  background-color:#fcf7e0;
  border:2px solid #4f4f50;
  width:703px - 16px;
  padding:16px;
}

#popup-profile-photo {
  border:2px solid #4f4f50;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
behavior:url(http://choco.wafflestudio.net:4010/PIE.htc);
  width:130px;
  float:left;
  .photo {
    width:130px;
    height:130px - 20px;
    text-align:center;
    background-color:#fff;
  }
  .name-label{
    color:white;
    background-color:#ababab;
    display:block;
    height:20px - 4px;
    text-align:center;
    width:130px;
    padding-top:4px;
    font-size:9pt;
  }
  position:relative;
  margin-right:40px;
}

#popup-bills-categories {
  float:left;
  margin-right:37px;
  padding:5px 0;
  height:130px - 10px;
  width:332px;
  border:2px solid #4f4f50;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
behavior:url(http://choco.wafflestudio.net:4010/PIE.htc);
  background-color:white;

  h3.bill-count {
    font-size:10pt;
    font-weight:bold;
    margin-right:30px;
    float:left;
    margin-left:20px;
    margin-bottom:23px;
  }

  span.bill-count {
    color:#088eff;
    width:40px;
  }
}

#popup-bills-selector {
  padding-top:100px;
  height:30px;
  float:left;
  width:135px;
  font-size:9pt;
}

.bill-category {
  float:left;
  margin-bottom: 7px;
  width:80px;
  .bill-category-name {
    width:56px;
    height:14px;
    display:block;
    float:left;
    overflow:hidden;
    text-align:center;
  }

  .bill-count {
    width:80px - 56px;
  }
  font-size:9pt;
}

#bill-update-info {
  margin-top:20px;
  font-size:9pt;
  .small {
    font-size:8.5pt;
    a {
      text-decoration:none;
      color:black;
    }
  }
}

#bills {
  width:653px;
  thead {
    background-color:#fede4d;
    margin-bottom:10px;
    th {
      padding:5px 0 5px 10px;
      font-size:10pt;
      font-weight:normal;
      text-align:left;
      color:#4f4f50;
      border-right: 2px solid #fff;
    }
  }

  tr.space-under td {
    padding-top:10px;
  }

  .header-date {//, .cell-date {
    width:71px; //81px (with padding)
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
  }

  .header-commitee{//, .cell-commitee {
    width:68px; //78px (with padding)
  }

  .header-title{//, .cell-title {
    width:403px; //413px (with padding)
  }

  .header-result{//, .cell-result {
    width:70px; //80px (with padding)
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
  }

  tbody {
    td {
      font-size:10pt;
      padding:3px 0 3px 10px;

      a {
        text-decoration:none;
        color:black;
      }
      a:hover {
        text-decoration:underline;
      }
    }

    td.cell-date {
      padding:3px 0 3px 5px;
      font-size:9pt;
    }
  }
}

#bill-summary-popup {
  width:650px - 4px;
  height:303px;
  border:2px solid #4f4f50;
  background-color:white;
  top:30px;
  position:absolute;
}

#summary-popup-content {
  height:303px - 12px;
  overflow-x:hidden;
  overflow-y:scroll;
  padding:6px;
  line-height:110%;

  .bill-title {
    font-size:10pt;
    font-weight:bold;
    margin-bottom:5px;
  }
  .bill-summary {
    font-size:9pt;
  }
}

#bill-popup-close {
  position:absolute;
  right:-8px;
  top:-8px;
  display:block;
  width:16px;
  height:16px;
  text-indent:-999px;
  background:url(/assets/bill-popup-close.gif);
}

#bills-wrapper {
  position:relative;
}

/*** dropdown menu***/

.dropdown {width:160px;
  margin:10px 20px 30px 20px;
  &.left {float:right;}
  &.right {float:left;}
}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dt {border:2px solid #4f4f50;}
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { text-decoration:none; outline:none;}
.dropdown dt a:hover { color:#5d4617;}
.dropdown dt a { padding-top:7px;height:28px - 7px;background:url(/assets/bg_dropdown_btn.gif) no-repeat scroll right center; display:block; padding-right:20px;}
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { z-index:3; overflow-y:scroll;height:200px;border:1px solid #aaa;display:none;
                  background-color:white;left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; width:160px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;
  &.current {
    background-color:#ddd;
  }
}
.dropdown dd ul li a:hover { background-color:#ddd;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}

.dropdown span.party {
  display:inline;
}
.dropdown span.name {
  display:inline;
  color:black;
  font-weight:bold;
}

