// Place all the styles related to the district controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// =require jcombobox

#vs-content-wrapper {
  background-color:#fff;
  padding: 35px 20px;
  width:740px - 40px;
  -o-border-radius:14px;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:14px;
  behavior:url(http://wepoll.or.kr/PIE.htc);
}

#district-title {
  .fb-like {
    float: right;
  }
  font-family:Nanum Gothic, 나눔고딕, 나눔 고딕, NanumGothic, Malgun Gothic, MalgunGothic, 맑은고딕, 맑은 고딕,sans-serif;
  font-weight:bold;
  font-size:15pt;
  #district-label {
    color:#ef4d28;
  }

}


#district-candidates {
  color:#969696;
  font-size:12pt;
  margin-top:13px;
  margin-bottom:20px;
}

.district-candidate {
  display:block;
  float:left;

  .district-candidate-button {
    margin-bottom:5px;
    text-decoration:none;
    display:block;
    border:2px solid #4f4f50;
    float:left;
    margin-right:10px;
    font-size:9pt;
    /*cursor:pointer;
    cursor:hand;*/
    .candidate-photo {
      float:left;
      width:48px;
      height:48px;
      display:block;
    }
    .candidate-name {
      padding:7px;
      float:left;
      color:#4f4f50;
      .party { font-size:9pt; display:block; margin-bottom:3px; }
      .name { font-size:12pt; display:block; }
    }


  }

  .candidate-checkbox-wrap {
  	clear:both;
    text-align:center;
  }

  .candidate-dropdown {
    background-color:white;
    position:absolute;
    font-size:9pt;
    display:none;
    text-align:center;
    border: 1px solid #a8a8a8;


    a {
      text-decoration: none;
      display:block;
      color:#4f4f50;
    }
    .target {
      font-weight:bold
    }

    .vs {
      color:#FFDE40;
    }


    a:hover {
      color: white;
      background-color:#4f4f50;
    }

    p {
      padding:8px;
    }

  }

}

.hover{
  /* - for the time being until personal page is ready
  background-color:#e9e8e8;*/
}


.namecard {
	a {
		text-decoration: none;
    color: black;
  	line-height: 140%;
  }
  float:left;
  width:280px;
  margin-bottom:35px;
  &.alpha {
  }
  &.omega {
  }
}

#name-cards {
  margin:0 auto;
  width:700px;
}

.tweet-bubble {
  &.left {
    background:url(/assets/bubble_tweet_left.jpg) no-repeat;
    margin-left:12px;
  }
  &.right {
    background:url(/assets/bubble_tweet_right.jpg) no-repeat;
    margin-left:12px;
  }

  width:260px - 40px - 45px;
  height:160px - 30px - 30px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right:45px;
  padding-bottom:30px;

  font-size:8.5pt;
}

#split-bar {
  width:120px;
  background:url(/assets/vs_mark.gif) no-repeat 0px 95px;
  float:left;
  text-indent:-999px;
  height:470px;
  padding:0 10px;
}

.politician-photo-wrapper {
  position:relative;
  height:170px;
  width:170px;
  margin:0 15px;

  &.left {
    float:right;
  }

  &.right {
    float:left;
  }

  .photo-frame {
    cursor: pointer;
    background:url(/assets/photo_frame.png) no-repeat;
    width:170px;
    height:170px;
    position:absolute;
  }

  img {
    display:block;
    width:160px;
    height:160px;
    top:5px;
    left:5px;
    position:absolute;
  }
}

/* for politician selector */
/*
.gray { border:2px solid #4f4f50; font-size:12pt; font-weight:bold; color:#0080c0; background-color:#d5f1ff; }
.gray .menu { border:1px solid #06aeff; }
.gray-hover { border-color:#06aeff; }
.gray .current { background-color:#0080c0 !important; color:#fff !important; }


.politician-select {
  width:165px;
}
*/


.link-button {
  display:block;
  width:192px;
  height:48px;
  background:url(/assets/btn_link.jpg) no-repeat;
  padding:0;margin:0;
  margin-top:20px;
  border:0;
  text-indent:-999px;
  cursor:hand;
  cursor:pointer;
  &.left {
    float:right;
  }
  &.right{
    float:left;
  }
}

#p1-good-link, #p2-good-link {
  margin-bottom:20px;
}

#p1-good-link, #p1-bad-link {
  float:right;
}
#p2-good-link, #p2-bad-link {
  float:left;
}

.graph-stopper {
  height:18px;
  width:4px;
  background-color:#000;
  &.left {
    float:left;
  }
  &.right {
    float:right;
  }
}

.link-label {
  font-size: 15pt;
  font-weight:bold;
}

.good-links .link-label {
    color:#60cbfa;
}
.bad-links .link-label {
    color:#4a4a4a;
}

#p1-good-link .link-label, #p1-bad-link .link-label {
  margin-right:16px;
}
#p2-good-link .link-label, #p2-bad-link .link-label {
  margin-left:16px;
}

.icn-bar-graph {
  width:23px;
  height:22px;
  display:block;
  margin:0 auto;
}

@mixin border-top-left-radius($x) {
  -o-border-top-left-radius: $x;
  -moz-border-top-left-radius: $x;
  -webkit-border-top-left-radius: $x;
  border-top-left-radius: $x;
}
@mixin border-top-right-radius($x) {
  -o-border-top-right-radius: $x;
  -moz-border-top-right-radius: $x;
  -webkit-border-top-right-radius: $x;
  border-top-right-radius: $x;
}


#tabs {
  a {
    width:132px;
    height:38px - 14px;
    padding-top:14px;
    float:left;
    display:block;
    background-color:#f4f4ee;
    text-decoration:none;
    text-align:center;
    color:#0073de;
    font-size:11pt;
    position:relative;
    
    border-radius:7px 7px 0 0;
    -o-border-radius:7px 7px 0 0;
    -moz-border-radius:7px 7px 0 0;
    -webkit-border-radius:7px 7px 0 0;
    behavior:url(http://wepoll.or.kr/PIE.htc);

    margin:0 5px;

    &.selected {
      color:#000;
      background-color:#e6e6dc;
    }
    &.alpha {
      margin-left:0;
    }

    &.omega {
      margin-right:0;
    }
  }
}

#tab-sections-container {
  background-color:#e6e6dc;
  width:700px - 20px;
  padding:10px;
}

//국회활동 탭 
a.init-bills-link {
  text-decoration:none;
  margin:0 auto;
  display:block;
}


@mixin border-radius($x) {
  -o-border-radius: $x;
  -moz-border-radius: $x;
  -webkit-border-radius: $x;
  border-radius: $x;
}
.subsection-label {
  display:block;
  float:left;
  text-align:center;
  padding-top:10px;
  width:80px;
  margin: 0 5px;
  color:#555;
  font-size:9pt;
  height:44px - 10px;

  &.yellow {
    background:url(/assets/bg_subsection_label_yellow_small.gif);
  }

  &.gray {
    background:url(/assets/bg_subsection_label_gray_small.gif);
  }

  &.blue {
    background:url(/assets/bg_subsection_label_blue_small.gif);
  }
}


.subsection {
  width:710 - 20px;
  background-color:#fff;
  @include border-radius(7px);
  behavior:url(http://wepoll.or.kr/PIE.htc);
  position:relative;
  margin-bottom:8px;
  .left {
    float:left;
    width: 300px;
  }

  .right {
    float:right;
    width: 300px;
  }
}

.sep-subsection {
  float: left;
  width: 355 - 20px;
  margin-bottom: 8px;
}

.left.sep-subsection {
  margin-right: 8px;
}

.attendance {
  font-size:25pt;
  font-weight:bold;
  display:block;
  text-align:center;
  height:85px - 25px;
  margin-top: 25px;
}

.section {
  width:710px - 20px;
  background-color:#e6e6dc;
  padding:7px 5px 5px 5px;
  margin-bottom:20px;
}
// preview css
@mixin preview {
  .preview {
    padding-top: 15px;
    float: left;
    margin: 0;
    margin-top: -2px;
    background-color: white;
    width: 553px;
    .preview-img {
      float: left;
      margin-left: 30px;
      margin-bottom: 10px;
      width: 100px;
    }
    .preview-right {
      width: 400px;
      padding: 10px 0px 10px 10px;
      float: left;
      .preview-title {
        font-weight: bold;
        color: #3C5598;
        a {
          color: #3C5598;
        }
      }
      .preview-link, .preview-txt {
        font-size: 9pt;
        color: #929292;
        a {
          color: #929292;
        }
      }
      .preview-link {
        margin-bottom: 4px;
        overflow: hidden;
      }
      .preview-title, .preview-link {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
@mixin message {
  .message_politician_photo {
    float: left;
  }
  .message_entry_body {
    font-size: 10pt;
    width: 480px;
    line-height: 120%;
    margin-left: 15px;
    float: left;
    word-wrap: break-word;
    .message_created_at {
      font-size: 5pt;
    }
  }
  .message_entry_btns {
    width: 90px;
    height: 30px;
    float: left;
    .message_entry_btn {
      padding-left: 20px;
      &.like {
        color: #FF7682;
      }
      &.blame {
        color: #717171;
      }
    }
    a, span {
      display: inline-block;
      margin-bottom: 3px;
      text-decoration: none;
    }
    span {
      float: right;
      margin-right: 10px;
    }
  }
  .message_entries_preview {
    margin-left: 25px;
  }
  .show_message_replies_btn {
    margin-left: 53px;
    display: block;
    float: left;
    margin-bottom: 5px;

    a {
      color: #717171;
      text-decoration: none;
    }
    span {
      color: #FF7682;
    }
  }
  .message_replies {
    margin-left: 53px;

    .message_reply_form {
      .message_reply_txt_field {
        width: 490px;
      }
      .message_reply_submit_btn {
        width: 45px;
        margin-left: 20px;
        background-color: white;
        border: 1px solid black;
      }
    }
    ul {
      width: 555px;
      li {
        margin-bottom: 3px;
        font-size: 10pt;
        width: 525px;
        padding-left: 30px;
        .message_reply_user_nickname {
          display: inline-block;
          width: 90px;
        }
        .message_reply_content {
          display: inline-block;
          width: 435px;
          .message_reply_created_at {
            display: inline-block;
            margin-left: 5px;
            font-size: 5pt;
          }
        }
      }
    }
  }
}
#best-message {
  background-color: #E6E6DC;
  width: 680px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  behavior:url(http://wepoll.or.kr/PIE.htc);
  @include message;
  @include preview;
  .best-label {
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 12pt;
    font-weight: normal;
  }
  .message_entry {
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    behavior:url(http://wepoll.or.kr/PIE.htc);
    .preview {
      padding-left: 25px;
    }
  }
}
.section-label {
  font-size:12pt;
  padding:10px 0;
  width:135px;
  text-align:center;
  color:#4f4f50;
  background-color:#e6e6dc;
  @include border-top-left-radius(10px);
  @include border-top-right-radius(10px);
}

.joint-politicians {
 margin:15px auto; 
}

.joint-politician {
  margin:0 18px;
  margin-bottom:5px;
  width:100px;
  float:left;
  &.alpha {
 //   margin-left:0;
  }
  &.omega {
//    margin-right:0;
  }

  .joint-info {
    text-align:center;
    margin-top:5px;
    font-weight: bold;
  }
  img {
    border:1px solid #454545;
    display:block;
    margin:0 auto;
    width:100px; height:100px;
  }
}

.profile, .popular-links{
  font-size:11pt;
  color:#4f4f50;
  text-align:center;
  padding-top:30px;
}

.profile-item {
  margin-bottom:20px;
  .left, .right {
    width:300px - 20px;
    margin:0 10px;
    line-height:140%;
  }
}

/*** dropdown menu***/

.dropdown {width:160px;
  margin:10px 20px 30px 20px;
  &.left {float:right;}
  &.right {float:left;}
}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dt {border:2px solid #4f4f50;}
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { text-decoration:none; outline:none;}
.dropdown dt a:hover { color:#5d4617;}
.dropdown dt a { padding-top:7px;height:28px - 7px; display:block; padding-right:20px;}
.dropdown dt a span {display:block; padding:5px;}
.dropdown dd ul { z-index:3; overflow-y:scroll;height:200px;border:1px solid #aaa;display:none;
                  background-color:white;left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; width:160px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;
  &.current {
    background-color:#ddd;
  }
}
.dropdown dd ul li a:hover { background-color:#ddd;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}

.dropdown span.party {
  display:inline;
}
.dropdown span.name {
  display:inline;
  color:black;
  font-weight:bold;
}


// not 18
.not_18 {
  background: url(/assets/icn_not_18.gif) no-repeat 65px 0;
  color:#4f4f50;
  width:180px;
  margin:0 auto;
  padding-top:50px;
  font-size:10pt;
  font-weight:normal;
  text-align:center;
}

.bottom-indicator {
  height:1px;
  text-indent:-999px;
}

.next-links-page {
  display:none;
}

.loading-indicator {
  width:32px;
  height:32px;
  margin:0 auto;
  display:block;
  background:url(/assets/ajax-loader-link.gif);
  display:none;
}

.reply_check {
  margin-top: 10px;
  margin-bottom: 10px;
}

// message css
#messages {
  padding-bottom: 10px;
  background-color: #E6E6DC;
  float: left;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  behavior: url(http://wepoll.or.kr/PIE.htc);
  @include preview;

  // message write form css
  .write-message-area {
    float: left;
    width: 680px;
    padding: 10px;
    margin-top: 10px;

    #message-form-politicians {
      #district-box {
        font-size: 13pt;
        text-align: center;
        width: 80px;
        height: 55px;
        padding-top: 25px;
        margin-left: 20px;
        background-color: white;
        float: left;
        
        span {
          color: red;
        }
      }
      #politicians-box {
        float: right;
        margin-right: 85px;

        .radio-politician {
          width: 70px;
          float: left;

          .img-label {
            display: block;
            width: 70px;
            height: 50px;
            img {
              float: right;
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
    #message-body-container {
      width: 550px;
      position: relative;
      float: left;
      margin-top: 10px;
      padding-left: 20px;

      .comment {
        border: 2px solid #9E9E9E;
        margin: 0;
        padding: 3px;
        width: 547px;
        height: 66px;
      }
      #message-length-indicator {
        position: absolute;
        top: 60px;
        left: 510px;
      }
      #message-form-preview {
        display: none;
        border: 2px solid #9E9E9E;
        border-top: 1px solid #9E9E9E;
      }
    }
    #message-submit-btn {
      float: left;
      margin-top: 10px;
      margin-left: 15px;
      width: 75px;
      height: 75px;
      background-color: white;
      border: 2px solid #9E9E9E;
    }
    .reply_check {
      margin-left: 20px;
      float: left;
      display: block;
      .note {
        margin-left: 10px;
      }
    }
  }
  #messages_area_label {
    margin-left: 10px;
    float: left;
    font-size:11pt;
    padding:10px 0;
    width:135px;
    text-align:center;
    background-color: white;
    border-bottom: 1px solid #E5E7DC;
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);
  }
  #messages_area {
    float: left;
    width: 660px;
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    behavior:url(http://wepoll.or.kr/PIE.htc);

    .message_entry {
      padding-bottom: 20px;
      border-bottom: 1px solid #E5E7DC;
      margin-bottom: 20px;
      @include message;
    }
  }
}



