#politician_box {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  h2 {
    font-size: 20pt;
  }
  h3 {
    font-size: 15pt;
    color: #666666;
  }
}
#tweets_wrapper {
  max-height: 800px;
  overflow: scroll;

  a {
    color: black;
    text-decoration: none;
  }
  #tweet_divider {
    border-bottom: 1px dotted white;
    margin-bottom: 10px;
  }

  .tweet_item {
    position: relative;
    padding: 5px;
    margin-bottom: 10px;

    &.today_best {
      .count {
        height: 80px;
        padding-top: 60px;
        background-image: url(forum/tweet_best_today.png);
        background-repeat: no-repeat;
      }
      .content {
        margin-top: 40px;
      }
    }
    &.best {
      .count {
        height: 80px;
        padding-top: 60px;
        background-image: url(forum/tweet_best1.png);
        background-repeat: no-repeat;
      }
      .content {
        margin-top: 40px;
      }
    }
    .count {
      height: 90px;
      padding-top: 30px;
      font-size: 30pt;
      text-align: center;
      float: left;
      width: 140px;
      background-image: url(forum/tweet_bubble.png);
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 20px;
    }

    .content {
      cursor: pointer;
      float: left;
      width: 500px;
      padding: 10px;
      background-color: white;
      border: 5px solid black;
      border-radius: 25px;
      &:hover {
        background-color: #F3F3F3;
      }
      .tweet_author {
        float: left;
      }
      .reply_btn, .tweet_recommend_btn {
        color: #F86D70;
        float: right;
        margin-left: 20px;
      }
      .tweet_recommend_btn {
      }
      .tweet_message {
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }
    &:hover {
      .reply_btn, .tweet_recommend_btn {
        color: #A66EE9;
      }
    }
  }
}

#reply_box {
  z-index: 1;
  position: absolute;
  display: none;
  font-size: 11pt;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: white;
  border: 5px solid black;
  border-radius: 25px;

  #reply_close {
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
  }
  label {
    font-size: 9pt;
    margin-left: 20px;
  }
  #reply_check {
    margin-right: 15px;
    float: right;

    #tweet {
      background-image: url(forum/t-color.png);
      &:checked {
        background-image: url(forum/t-grayscale.png);
      }
    }
    #facebook {
      background-image: url(forum/f-color.png);
      &:checked {
        background-image: url(forum/f-grayscale.png);
      }
    }
  }
  #reply_text_box {
    margin-left: 20px;
    width: 200px;
    height: 140px;
    background-color: #ECEEED;
    border: none;
  }
  #reply_submit_btn {
    margin-right: 15px;
    float: right;
    background-color: #FDDF49;
    border: none;
    border-radius: 5px;
  }
}
#replies_wrapper {
  overflow: scroll;
  max-height: 800px;
  margin-top: 160px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 25px;

  .reply_item {
    font-size: 11pt;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #BCBCBC;
    
    .reply_date {
      color: #C7A412;
      font-size: 10pt;
    }
    p.links {
      margin-bottom: 10px;
      a {
        color: #707070;
        float: right;
        margin-left: 20px;
        font-size: 10pt;
      }
    }
  }
}

#reply_check .checkbox {
  input {
    display: none;
  }
  padding:10px;
  cursor:pointer;
}
.checked {
  &.tweet {
    background-image: url(forum/t-color.png);
    background-repeat: no-repeat;
  }
  &.facebook {
    background-image: url(forum/f-color.png);
    background-repeat: no-repeat;
  }
}
.unchecked {
  &.tweet {
    background-image: url(forum/t-grayscale.png);
    background-repeat: no-repeat;
  }
  &.facebook {
    background-image: url(forum/f-grayscale.png);
    background-repeat: no-repeat;
  }
}
