#container {
  background-color:#d3d3d3;
  padding-top:30px;
}


footer {
  height:30px;
  font-size:9pt;
  a {
    color:#828282;
    text-decoration:none;
  }
}

.content .column{
//  background-color:white;
}

