/* application wide */
body {
  font-family: AppleGothic, Dotum, 돋움, sans-serif;
  font-size:9pt;
//  background-color:rgb(255,227,52);
  background-color:#fede4d
}

#header {
  margin-top:40px;
}

#header-small {
  margin-bottom:30px;
  margin-top:20px;
}

.top-bar {
  text-indent:-99999px;
  background-color:#4f4f50;
  height:26px;
}

#container {
 // background-color:#d3d3d3;
//  padding-top:30px;
}


footer {
  background-color:#4f4f50;
  height:30px;
  font-size:9pt;
  text-align:right;
}
#footer-links {
  margin-top:10px;
  a {
    color:#fede4d;
    text-decoration:none;
  }
}

#logo-wrapper {
//  background-image:url(/assets/logo.png);
 h1 {
    text-indent:-99999px;
    background:url(/assets/logo.png) no-repeat;
    height:60px;
  }
}

#logo-wrapper-small {
 h1 {
    text-indent:-99999px;
    background:url(/assets/logo_small.png) no-repeat;
    height:34px;
  }
}

#search-bar-wrapper {
  margin-top:20px;
  z-index:2000;
  margin-left:20px;
}

#search-bar-wrapper-small {
  margin-top:0px;
}

#main-search-bar {
  border:4px solid #454b4f;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
behavior:url(http://choco.wafflestudio.net:4010/PIE.htc);
  height:20px;
  width:296px;

  input[type=text] {
    margin:0;
    padding:2px;
    border:0;
    width:296px - 24px;
    height:16px;
    display:block;
    float:left;
  }

  input[type=submit] {
    margin:0;
    padding:0;
    display:block;
    float:right;
    height:20px;
    width:20px;
    border:0;
    text-indent:-99999px;
    background:url(/assets/btn_search.gif) no-repeat;
  }
}

#login-status {
  width:248px - 18px;
  background-color:#4f4f50;
  border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  behavior:url(http://choco.wafflestudio.net:4010/PIE.htc);
  height:66px;
  margin-left:0;
  padding-left:18px;

  .fb-like {
    margin-bottom: 3px;
  }
}

.content .column{
//  background-color:white;
}

#profile-pic-thumb-wrapper {
}

#profile-pic-thumb {
  border:2px solid #f7d748;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
behavior:url(http://choco.wafflestudio.net:4010/PIE.htc);
}

#nickname {
  color:#f7d748;
  font-size:8.5pt;
}

#session-actions {
  a {
    font-size:7.5pt;
    color:#333;
    border:2px solid #f7d747;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
behavior:url(http://choco.wafflestudio.net:4010/PIE.htc);
    background-color:white;
    text-decoration:none;
  }
}


.login-notice {
  text-align: center;
  font-size:9pt;
  color:white;
  margin-bottom:5px;
}

#recent-link-header {
  margin-top: 10px;
}
