// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-pages-container {
  position:relative;
  height:738px;
  overflow:visible;
}

@mixin drop-shadow($x,$y,$r,$s,$color) {
  -moz-box-shadow: $x $y $r $s $color;
  -webkit-box-shadow: $x $y $r $s $color;
  box-shadow: $x $y $r $s $color;
}

#main-content {
//  @include drop-shadow(3px, 0px, 5px, 3px, #929292);
  box-shadow: 15px 0px 10px -5px #e7cb4f;
//  background:url(/assets/bg_left.gif);
  width:752px;
  margin-right:0;
  min-height:300px;
}

#sidebar {
///  background:url(/assets/bg_right.gif);
  margin-left:0;
  width:256px - 16px;
  padding-left:0;
  min-height:300px;
}

#login-actions {
  margin-left:14px;
  width:68px;
  a {
    font-size:8pt;
    color:white;
    text-decoration:none;
  }
}

#bubble {
  position:absolute;
  left:20px;
  top:70px;
  width:207px;
  height:157px;
  background:url(/assets/bubble1.gif) no-repeat;
}

#bubble-text {
  text-align:center;
  margin-top:50px;
  font-size:11pt;
  line-height:120%;
}

#login-btn {
  margin-top:-25px;
  margin-left:230px;
  height:25px - 7px;
  width:60px;
  background-color:#848484;
  color:white;
  font-size:9pt;
  text-align:center;
  padding-top:7px;

  a {
    display:block;
    width:100%;
    height:100%;
    color:white;
    text-decoration:none;
  }
}

#vs-container {
  padding:30px 40px 30px 40px;
  width:320px - 80px;
  height:260px - 60px;
  background:url(/assets/bg_vs.png) no-repeat;
  margin-top:75px;
  margin-left:-70px;
}

#vs-district {
  text-align:center;
  margin-top:10px;
}

.vs-part {
  float:left;
  width:110px;
}

.vs-part.alpha {
  margin-right:10px;
}

.vs-part.omega {
  margin-left:10px;
}

#seoul-map {
  position:relative;
}

.small-map {
  width:200px;
  height:200px;
  margin-top:170px;
  margin-left:50px;
}

#line-canvas {
  position:absolute;
  top:0;
  left:0;
}

#arrow-header {
  width:42px;
  height:54px;
  background:url(/assets/arrow_hd.gif) no-repeat;
  position:absolute;
  left:660px;
  top:96px;
  display:none;
}
