// Place all the styles related to the notices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notices {
  width:624px;
}

.notice-wrapper {
  margin-bottom:10px;

}

.notice-title {
  background-color:#ddd;
  font-size:10pt;
  padding:5px;

  -o-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;

  -o-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
  behavior:url(http://wepoll.or.kr/PIE.htc);
}

.notice-date {
  text-align:right;
  background-color:#eee;
  font-size:10pt;
  padding:3px;
}

.notice-content {
  padding:10px 5px;
  line-height:120%;

  -o-border-bottom-right-radius:5px;
  -moz-border-bottom-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;

  -o-border-bottom-left-radius:5px;
  -moz-border-bottom-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
  behavior:url(http://wepoll.or.kr/PIE.htc);

  border-left:1px solid #eee;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
}
