// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bills-paginator {
  text-align: center;
  a {
    color: #5B5A5A;
    text-decoration: none;
  }
}

