// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bills-paginator {
  text-align: center;
  a {
    color: #5B5A5A;
    text-decoration: none;
  }
}

#bills-categories {
  height:80px;
  overflow-y:scroll;
}

//bill popup
#popup-bills {
  background-color:#fcf7e0;
  border:2px solid #4f4f50;
  width:703px - 16px;
  padding:16px;
}

#popup-profile-photo {
  border:2px solid #4f4f50;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
behavior:url(http://wepoll.or.kr/PIE.htc);
  width:130px;
  float:left;
  .photo {
    width:130px;
    height:130px - 20px;
    text-align:center;
    background-color:#fff;
  }
  .name-label{
    color:white;
    background-color:#ababab;
    display:block;
    height:20px - 4px;
    text-align:center;
    width:130px;
    padding-top:4px;
    font-size:9pt;
  }
  position:relative;
  margin-right:40px;
}

#popup-bills-categories {
  float:left;
  margin-right:19px;
  padding:5px 0;
  height:130px - 10px;
  width:350px;
  border:2px solid #4f4f50;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
behavior:url(http://wepoll.or.kr/PIE.htc);
  background-color:white;

  h3.bill-count {
    font-size:10pt;
    font-weight:bold;
    margin-right:30px;
    float:left;
    margin-left:20px;
    margin-bottom:23px;
  }

  span.bill-count {
    color:#088eff;
    width:40px;
    &.small {
      display:block;
      float:left;
      width:30px;
    }
  }
}

#popup-bills-selector {
  padding-top:100px;
  height:30px;
  float:left;
  width:135px;
  font-size:9pt;
}

.bill-category {
  float:left;
  margin-bottom: 7px;
  width:86px;
  .bill-category-name {
    width:56px;
    height:14px;
    display:block;
    float:left;
    overflow:hidden;
    text-align:center;
  }

  .bill-count {
    width:80px - 56px;
  }
  font-size:9pt;
}

#bill-update-info {
  margin-top:20px;
  font-size:9pt;
  .small {
    font-size:8.5pt;
    a {
      text-decoration:none;
      color:black;
    }
  }
}

#bills {
  width:653px;
  thead {
    background-color:#fede4d;
    margin-bottom:10px;
    th {
      padding:5px 0 5px 10px;
      font-size:10pt;
      font-weight:normal;
      text-align:left;
      color:#4f4f50;
      border-right: 2px solid #fff;
    }
  }

  tr.space-under td {
    padding-top:10px;
  }

  .header-date {//, .cell-date {
    width:71px; //81px (with padding)
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
  }

  .header-commitee{//, .cell-commitee {
    width:68px; //78px (with padding)
  }

  .header-title{//, .cell-title {
    width:403px; //413px (with padding)
  }

  .header-result{//, .cell-result {
    width:70px; //80px (with padding)
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
  }

  tbody {
    td {
      font-size:10pt;
      padding:3px 0 3px 10px;

      a {
        text-decoration:none;
        color:black;
      }
      a:hover {
        text-decoration:underline;
      }
    }

    td.cell-date {
      padding:3px 0 3px 5px;
      font-size:9pt;
    }
  }
}

#bill-summary-popup {
  width:650px - 4px;
  height:303px;
  border:2px solid #4f4f50;
  background-color:white;
  top:30px;
  position:absolute;
}

#summary-popup-content {
  height:303px - 12px;
  overflow-x:hidden;
  overflow-y:scroll;
  padding:6px;
  line-height:110%;

  .bill-title {
    font-size:10pt;
    font-weight:bold;
    margin-bottom:5px;
  }
  .bill-summary {
    font-size:9pt;
  }
}

#bill-popup-close {
  position:absolute;
  right:-8px;
  top:-8px;
  display:block;
  width:16px;
  height:16px;
  text-indent:-999px;
  background:url(/assets/bill-popup-close.gif);
}

#bills-wrapper {
  position:relative;
}


