// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bills-paginator {
  text-align: center;
  a {
    color: #5B5A5A;
    text-decoration: none;
  }
}

#bills-categories {
  height:80px;
  overflow-y:scroll;
}

//bill popup
#popup-bills {
  background-color:#fcf7e0;
  border:2px solid #4f4f50;
  width:703px - 16px;
  padding:16px;
}

#popup-profile-photo {
  border:2px solid #4f4f50;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
behavior:url(http://wepoll.or.kr/PIE.htc);
  width:130px;
  float:left;
  .photo {
    width:130px;
    height:130px - 20px;
    text-align:center;
    background-color:#fff;
  }
  .name-label{
    color:white;
    background-color:#ababab;
    display:block;
    height:20px - 4px;
    text-align:center;
    width:130px;
    padding-top:4px;
    font-size:9pt;
  }
  position:relative;
  margin-right:40px;
}

#popup-bills-categories {
  float:left;
  margin-right:19px;
  padding:5px 0;
  height:130px - 10px;
  width:350px;
  border:2px solid #4f4f50;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
behavior:url(http://wepoll.or.kr/PIE.htc);
  background-color:white;

  h3.bill-count {
    font-size:10pt;
    font-weight:bold;
    margin-right:30px;
    float:left;
    margin-left:20px;
    margin-bottom:23px;
  }

  span.bill-count {
    color:#088eff;
    width:40px;
    &.small {
      display:block;
      float:left;
      width:30px;
    }
  }
}

#popup-bills-selector {
  padding-top:100px;
  height:30px;
  float:left;
  width:135px;
  font-size:9pt;
}

.bill-category {
  float:left;
  margin-bottom: 7px;
  width:86px;
  .bill-category-name {
    width:56px;
    height:14px;
    display:block;
    float:left;
    overflow:hidden;
    text-align:center;
  }

  .bill-count {
    width:80px - 56px;
  }
  font-size:9pt;
}

#bill-update-info {
  margin-top:20px;
  font-size:9pt;
  .small {
    font-size:8.5pt;
    a {
      text-decoration:none;
      color:black;
    }
  }
}

#bills {
  width:653px;
  thead {
    background-color:#fede4d;
    margin-bottom:10px;
    th {
      padding:5px 0 5px 10px;
      font-size:10pt;
      font-weight:normal;
      text-align:left;
      color:#4f4f50;
      border-right: 2px solid #fff;
      font-size:9pt;
    }
  }

  tr.space-under td {
    padding-top:10px;
  }

  .header-date {//, .cell-date {
    width:71px; //81px (with padding)
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    font-size:8.5pt;
  }

  .header-commitee{//, .cell-commitee {
    width:68px; //78px (with padding)
  }

  .header-title{//, .cell-title {
    width:403px; //413px (with padding)
  }

  .header-result{//, .cell-result {
    width:70px; //80px (with padding)
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
  }

  tbody {
    td {
      font-size:10pt;
      padding:3px 0 3px 10px;

      a {
        text-decoration:none;
        color:black;
      }
      a:hover {
        text-decoration:underline;
      }
    }

    td.cell-commitee {
      font-size:8.5pt;
    }

    td.cell-result {
      font-size:8.5pt;
    }

    td.cell-date {
      padding:3px 0 3px 5px;
      font-size:9pt;
    }
  }
}

#bill-summary-popup {
  width:650px - 4px;
  height:303px;
  border:2px solid #4f4f50;
  background-color:white;
  top:30px;
  position:absolute;
}

#summary-popup-content {
  height:303px - 12px;
  overflow-x:hidden;
  overflow-y:scroll;
  padding:6px;
  line-height:110%;

  .bill-title {
    font-size:10pt;
    font-weight:bold;
    margin-bottom:5px;
  }
  .bill-summary {
    font-size:9pt;
  }
}

#bill-popup-close {
  position:absolute;
  right:-8px;
  top:-8px;
  display:block;
  width:16px;
  height:16px;
  text-indent:-999px;
  background:url(/assets/bill-popup-close.gif);
}

#bills-wrapper {
  position:relative;
}


.bills-age-selector {
  margin:20px auto 0 auto;
  &.right {
    text-align:center;
  }
  &.left {
    text-align:center;
  }
  .age-select {
    height:15px;
    border:2px solid #aaa;
    margin-right:5px;
    text-decoration:none;
    color:#aaa;
    text-align:center;
    padding:3px;
    background-color:#E6E6DC;

    &.disabled {
      color:#ccc;
      border:2px solid #eee;
      background-color:#eee;
    }
    &.selected {
      border:2px solid #FEDE4D;
      color:#555;
      background-color:#E6E6DC;
    }
  }
}

.pledge-items-container {
  margin-bottom:10px;
}
.pledge-item {
  width:300px - 2px - 2px !important;
  border:2px solid;
  &.left {
    border-color:#ff5252;
    color:#ff5252;
  }
  &.right {
    border-color:#529fff;
    color:#529fff;
  }
  border-radius: 10px;
  &.notexist {
    border:0;
    width:300px;
  }
  padding:5px 0;

  .pledge-like-count {
    float:left;
    width:63px;
    font-size:15pt;
    text-align:center;
    .count {
      text-decoration:none;
      display:block;
      height:44px - 22px;
      padding-top:22px;

      &:hover {
        text-decoration:underline;
      }

      &.like {
        color:#529fff;
        background:url(/assets/icn_pledge_like.gif) 13px 4px no-repeat;
      }

      &.dislike {
        color:#9a9a9a;
        background:url(/assets/icn_pledge_dislike.gif) 13px 4px no-repeat;
      }
    }
  }

  .pledge-title {
    float:right;
    min-height:88px;
    width:211px - 8px;
    padding-left:8px;
    border-left:1px solid #529fff;
    line-height:150%;
    &.notexist {
      border:0;
    }

    position:relative;

    .btn-detail {
      text-decoration:none;
      color:black;
      display:block;
      font-size:7.5pt;
      width:67px - 22px;
      background-color:#fceb9d;
      border:1px solid gray;
      border-radius:10px;
      position:absolute;
      right:5px;
      bottom:0px;
      background-image:url(/assets/icn_pledge_detail.gif);
      background-position:7px 3px;
      background-repeat: no-repeat;
      padding-left:22px;
    }
  }
}
