// Place all the styles related to the timeline_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link-form label {
  font-size:9pt;
  padding-top:4px;
}

@mixin full_width_text_field {
  width:368px - 2px;
  border:1px solid #aaa;
  height:20px;
}

#timeline_entry_url {
  @include full_width_text_field;
}

#timeline_tags {
  @include full_width_text_field;
}


#link-form-title {
  font-size:12pt;
  margin-bottom:10px;
}

.link-type {
  input {
    margin-right:3px;
  }
  font-size:9pt;
}

.note {
  font-size:9pt;
  color:#929292;
  line-height:120%;
}

#link-form-wrapper {
  width: 624px; //grid 10
}

#post-warning {
  margin-top:15px;
  text-align:center;
}

#actions {
  margin:0 auto;
  width:140px;
}

.action {
  display:block;
  float:left;
  font-size:9pt;
  width:70px;
  height:33px;
  text-align:center;
  text-decoration:none;
  color:black;
}

#link-post {
  background:url(/assets/btn_link_post.gif);
  border:0;
}

#link-cancel {
  background:url(/assets/btn_link_cancel.gif);
  border: none;
  height:33px;
}

#popular-tags {
  font-size:9pt;
  color:#929292;
}

#link-like-count {
  background:url(/assets/bubble_like.gif);
  width:88px;
  height:55px;
  padding-top:13px;
  text-align:center;
}

#like-count {
  font-size: 15pt;
}

#link-user {
  background-color:#fff4c4;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
behavior:url(http://wepoll.or.kr/PIE.htc);
  padding:7px;
  margin-bottom:10px;
  width: 290px;
}

#link-user-info {
  margin-left:5px;
  float:left;
}

#link-user-photo {
  width:22px;
  height:22px;
  border:2px solid #fedc43;
  display:block;
  float:left;
}

#link-user-name {
  font-size:9pt;
}

#link-time-ago {
  font-size:8pt;
}

#link-detail-wrapper {
  width:771px;
  padding-top:20px;
  .grid_11 {
    width:771px;
  }
}

#link-thumbnail {
  display:block;
  height:48px;
  margin-top:10px;
}

#link-title {
  color:#3caea9;
  font-size:10pt;
  width:315px;
  margin-bottom:10px;
}

#link-url a {
  color:#f87978;
  text-decoration:none;
  font-size:8pt;
}

#timeline-container {
	background-color:#eee;
	width:1024px;
	height:509px;
	z-index:2;
	display:none;
	position:fixed;
	/*background:url('/assets/timeline-bg.png') no-repeat;*/
}

#timeline-container-border {
	position:absolute;
	left:0px;
	top:0px;
	background-color:white;
	margin:8px;
	width:992px;
	height:474px;
	opacity:0.5;
}

#timeline-bg{
	position:absolute;
	left:140px;
	top:0px;
	background-color:white;
	margin:8px;
	width:852px;
	height:474px;
}


#timeline-container a{
	color:black;
}

#timeline-all {
position:relative;
padding-top:55px;
padding-bottom:20px;
}

#tm-politician1{
	position:relative;
	height:200px;
	padding-left:20px;
	padding-top:20px;

	background:url('/assets/bg_politician_timeline_1.png') no-repeat;
}

#tm-politician2 {
	height:200px;
	padding-left:20px;
	margin-top:30px;
	padding-top:35px;
	background:url('/assets/bg_politician_timeline_2.png') no-repeat;

}


.photo-holder {
	position:relative;
}

.politician-photo1, .politician-photo2 {
	width:80px;
	height:80px;
	margin-right:5px;
	position:relative;
	overflow:hidden;
	float:left;
}

.pol-name {
	padding-top:5px;
	line-height:16px;
	font-weight:bold;
}

.pol-name {
text-align:center;
}

#timeline {
font-size:11px;
position:relative;
overflow:hidden;
height:600px;
/*background-color:#ccc;*/
z-index:10;
}

.timeline-navigator {
	position:absolute;
}

.timeline-canvas {
	position:absolute;
	left:0px;
	right:0px;
	z-index:-1;
}

.timeline-view {
	position:absolute;
	overflow:hidden;
	left:0px;
	width:9999px;/*** quirky measure. **/
}

.tm-hgroup {
	position:relative;
	float:left;
	margin-left:100px;
	width: 210px;
	height: 500px;
	/*background-color:#222;*/
}

.tm-hg-holder {
	position:absolute;
	left:0px;
	top:0px;
}

.tm-vgroup {
	position:absolute
}

.tm-bill-view {
	color:red;
	position:absolute;
	width:200px;
	top:175px;
}


.tm-slider {
	background-color:white;
	position:absolute;
	width:230px;
	height:170px;
}

/*
.tm-bubble1 {
	background:url('/assets/bubble_timeline_1.gif') no-repeat;
}
.tm-bubble2 {
	background:url('/assets/bubble_timeline_2.gif') no-repeat;
}
.tm-bubble3 {
	background:url('/assets/bubble_timeline_3.gif') no-repeat;
}

.tm-bubble4 {
	background:url('/assets/bubble_timeline_4.gif') no-repeat;
}
.tm-bubble5 {
	background:url('/assets/bubble_timeline_5.gif') no-repeat;
}
.tm-bubble6 {
	background:url('/assets/bubble_timeline_6.gif') no-repeat;
}
*/

.tm-nav-left {
	width:26px;
	height:68px;
	background:url('/assets/icn_timeline_left.gif') no-repeat;
}
.tm-nav-right {
	width:26px;
	height:68px;
	background:url('/assets/icn_timeline_right.gif') no-repeat;
}

#timeline-msg-noentry1, #timeline-msg-noentry2 {
	position:relative;
	text-align:center;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	width:300px;
	background-color:#ccc;
}

#timeline-msg-noentry1 {
	top:80px;
}

#timeline-msg-noentry2 {
	top:280px;
}

.tm-sl-holder {
position:relative;
}

.tm-sl-nav {
	z-index:5;
	position:absolute;
	top:10px;
	left:175px;
	width:210px;
}

.tm-sl-nav-p {
	display:inline-block;
	width:9px;
	height:12px;
	background:url('/assets/tm-sl-nav-p.gif') no-repeat;
}

.tm-sl-nav-n {
	display:inline-block;
	width:9px;
	height:12px;
	background:url('/assets/tm-sl-nav-n.gif') no-repeat;
}

.tm-entry {
	position:absolute;
	top:25px;
	left:0px;
}

.tm-entry-view {
	position:relative;
	width:200px;
	height:140px;
	margin-left:20px;
	margin-right:20px;
	overflow:hidden
}

.tm-entry-footer {
	position:absolute;
	bottom:0px;
}

.tm-entry-numlike,.tm-entry-numreply {
	text-align:center;
	float:left;
	width:54px;
	height:15px;
	padding-top:2px;
	margin-right:15px;
}
.tm-entry-numlike  { background:url('/assets/tm-like-bg.gif') no-repeat}
.tm-entry-numreply  { background:url('/assets/tm-reply-bg.gif') no-repeat}

.tm-entry-content {
	margin-top:10px;
}


.tm-bubble4 .tm-entry-view,.tm-bubble5 .tm-entry-view,.tm-bubble6 .tm-entry-view {
}

.tm-legend {
	position:absolute;
	width:200px;
	top:220px;
	margin-left:50px;
	z-index:2;
}

#tm-entry-new {
	background-color:white;
}

.tm-entry-tags {
	color:#64c8cb;
	margin:7px;
}

#rsidebar {
margin-top:50px;
z-index:3;
}


#link-form-badlink {
	color:black;
	display:none;
}

#link-form-preview-img {
}

#current-user-photo {
  width:36px;
  height:36px;
  border:3px solid #fedc43;
  display:block;
  float:left;
  margin-left:5px;
  margin-top:5px;
}

#send-sns {
  float:right;
}

#link_reply_body {
  height:70px - 10px;
  border:0;
  background-color:#eceded;
  margin-bottom:5px;
  width:250px - 10px;
  padding:5px;
  float:left;
  overflow: auto;
}

#link-reply-field-wrapper {
  width:304px;
  background-color:#eceded;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  //TODO : change the URL
  behavior:url(http://wepoll.or.kr/PIE.htc);
}

#link-comment-action {
  float:right;
  input {
    background-color:#fede4d;
    width:40px - 6px;
    height:28px - 8px;
    border:0;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:3px;
    padding-right:3px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
behavior:url(http://wepoll.or.kr/PIE.htc);
  }
}

.actions {
  text-align:right;
  margin-top:5px;
  float:right;
  width:120px;

  .like {
    color:#caac23;
    a {
      text-decoration:none;
      color:#caac23;
    }
    margin-right:5px;
  }

  .blame a{
    color:#f85151;
    text-decoration:none;
  }
}

.link-reply-date {
  margin-top:5px;
  color:#7a7a7a;
  float:left;
  width:150px;
}

#current-user-photo {
  float:left;
  display:block;
  width:36px;
  height:36px;
  border:4px solid #fedc45;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
behavior:url(http://wepoll.or.kr/PIE.htc);
}

#link-reply-button {
  cursor: pointer;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
behavior:url(http://wepoll.or.kr/PIE.htc);
  border:0;
  background-color:#fede4d;
  padding:3px 5px;
}

#link-reply-list {
  width: 304px;
  margin-top:10px;
  max-height: 400px;
  overflow-y: auto;
}


#replies-left {
  width:447px - 1px;
  border-right:1px dashed #bdbbbc;
}

#link-title-wrapper {
  width:218px;
  margin-top:10px;
}

#sns-links {
  margin-top:10px;
  margin-left:15px;
  width:88px - 15px;
}

#link-preview {
//  width:218px + 48px + 10px;
width:315px;
}

#link-recommend {
  display:block;
  margin-bottom:10px;
  background-color:#FEDE4D;
  border-radius:5px;
  color:#68665D;
  padding:5px;
  width:50px - 5px;
  text-decoration:none;
  text-align:center;
  font-size:8pt;
}
