<div class="page-header">
  <h1><%= current_user.email%>&nbsp;&nbsp;<small>개인정보 변경페이지</small></h1>
</div>

<div class="row">
  <div class="span8 well">
    <h2>SNS연동</h2>
    <h4>Facebook</h4>
    <% if current_user.facebook_connected? %>
      <div class="alert alert-success">
        이미 페이스북 계정에 연결되어있습니다. <a href="https://facebook.com/<%= current_user.facebook_uid %>">바로가기</a>
      </div>
    <% else -%>
      <div class="alert">
      </div>
    <% end -%>
    <h4>Twitter</h4>
    <% if current_user.twitter_connected? %>
      <div class="alert alert-success">
        이미 트위터 계정에 연결되어있습니다. <a href="https://facebook.com/<%= current_user.facebook_uid %>">바로가기</a>
      </div>
    <% else -%>
      <div class="alert">
        트위터 계정을 지금 연동하세요! <%= link_to '연동하기', '#', :class => 'btn btn-small btn-info' %>
      </div>
    <% end -%>
  </div>
</div>
