<div id="login">
  <%= image_tag 'admin/hr.gif', :id => "login_close" %>
  <div>
    <h1>로그인 후 후보자를 칭찬/지적 할 수 있습니다.</h1>
  </div>
  <div id="login_links_box">
    <%= link_to_function image_tag('login_fb_btn.png'), "show_auth_dialog('/users/auth/facebook')", :id => "fb_login_btn"%>
    <%= link_to_function image_tag('login_twitter_btn.png'), "show_auth_dialog('/users/auth/twitter')", :id => "twitter_login_btn"%>
  </div>
</div>
