<div class="container_16" id="link-form-wrapper">
  <div class="grid_10 alpha omega">
    <%= render 'form' %>
  </div>
	<%#= link_to "Delete", timeline_entry_path(@timeline_entry), :method => "delete", :remote => true, :confirm => "Are you sure?" %>
</div>

	
