<% content_for(:scripts) do %>
<script type="text/coffeescript"></script>
<script type="text/javascript">
var timelineView;

Backbone.Model.prototype.toJSON = function() {
  return _(_.clone(this.attributes)).extend({
   'authenticity_token' : $('meta[name="csrf-token"]').attr('content')
  });
 }

//TODO: FEED IN DATA HERE

var pol1 = "4f41b4d6efd18c7f560000d6";
var pol2 = "4f41b4daefd18c7f56000109";

$(function() {
	timelineController = new modules.TimelineController({pol1:pol1,pol2:pol2<%= if user_signed_in? then ",edit:true" else "" end%>})
	timelineController.startAutoUpdate()
	timelineController.appendTo($("#timeline"))
	
	<% if user_signed_in? %>
	$(".link-new").each(function(index, el) {
		$(el).click(function() {
			$("#tm-entry-new").empty()

			$(modules.TimelineController.getForm([pol1,pol2][index])).appendTo($('#tm-entry-new')).bind("save", function(evt, model) {
				timelineController.addEntry(model)
				$.colorbox.close()
			}
			)
			$(this).colorbox({inline:true,open:true})
		})
	})

	
	<% end %>

	//$("#link-new").colorbox({inline:true});

	var AppRouter = Backbone.Router.extend({
		routes: {
			"" : "index",
			"all" : "showAll",
			"year" : "showYear",
			"year/:year" : "showYear",
			"quarter" : "showQuarter",
			"quarter/:year" : "showQuarter",
			"quarter/:year/:quarter" : "showQuarter",
			"month" : "showMonth",
			"month/:year" : "showMonth",
			"month/:year/:month" : "showMonth",
			"week" : "showWeek",
			"week/:year" : "showWeek",
			"week/:year/:month" : "showWeek",
			"week/:year/:month/:week" : "showWeek"

		},
		index: function() {
			console.log('DEFAULT')
			timelineController.changeScale('year')
		},
		showAll: function() {
			console.log('ALL')
			timelineController.changeScale('all')
		},
		showYear: function(year) {
			if(year)
				timelineController.changeScale('year',year)
			else
				timelineController.changeScale('year')
		},
		showQuarter: function(year,quarter)  {
			if(typeof year =='undefined')
				timelineController.changeScale('quarter')
			else
				timelineController.changeScale('quarter',{year:year,quarter:quarter})
		},
		showMonth: function(year,month)  {
			if(typeof year =='undefined')
				timelineController.changeScale('month')
			else
				timelineController.changeScale('month',{year:year,month:month})
		},
		showWeek: function(year,month,week)  {
			if(typeof year =='undefined')
				timelineController.changeScale('week')
			else
				timelineController.changeScale('week',{year:year,month:month,week:week})
		}

	});

	var router = new AppRouter()
	Backbone.history.start();
	router.navigate();


})
</script>
<style type="text/css">
#timeline {
position:relative;
overflow:hidden;
width:1024px;
height:400px;
/*background-color:#ccc;*/
z-index:10;
}

.timeline-view {
	position:absolute;
	overflow:hidden;
	width:3000px;/*** quirky measure. **/
}

.tm-vgroup {
	position:relative;
	float:left;
	margin-left:100px;
	width: 200px;
	height: 200px;
	/*background-color:#222;*/
}

.tm-vg-holder {
	position:absolute;
}

.tm-slider {
	position:absolute;
	width:200px;
	height:200px;
}

.tm-sl-nav {
	position:absolute;
	width:200px;
}
.tm-entry {
	position:absolute;
	top:40px;
	left:0px;
	background-color:white;
}

.tm-entry-view {
	position:relative;
	width:200px;
	overflow:hidden
}

.tm-legend {
	position:absolute;
	bottom:0px;
}

#tm-entry-new {
	background-color:white;
}

</style>
<% end %>

<% if user_signed_in? %> 
<a class="link-new" href="#tm-entry-new" title="New Timeline Entry">new Timeline Entry 1</a>
<a class="link-new" href="#tm-entry-new" title="New Timeline Entry">new Timeline Entry 2</a>

<div style='display:none'>	
	<div id='tm-entry-new'></div>
</div>
<% end %>
<div id="timeline-nav">
<a href="#all">전체</a>
<a href="#year">연</a>
<a href="#quarter">분기</a>
<a href="#month">월</a>
<a href="#week">주</a>
</div>
<div id="timeline">
</div>
