<% content_for(:scripts) do %>
<script type="text/coffeescript"></script>
<script type="text/javascript">
var timelineView;

Backbone.Model.prototype.toJSON = function() {
  return _(_.clone(this.attributes)).extend({
   'authenticity_token' : $('meta[name="csrf-token"]').attr('content')
  });
 }

$(function() {
	timelineController = new modules.TimelineController()
	timelineController.startAutoUpdate()
	timelineController.appendTo($("#timeline"))
	
	
	$("#link-new").click(function() {
		$("#tm-entry-new").empty()
		$(modules.TimelineController.getForm()).appendTo($('#tm-entry-new')).bind("save", function(evt, model) {
			timelineController.addEntry(model)
			$.colorbox.close()
		}
		)
		$(this).colorbox({inline:true,open:true})
	})
	//$("#link-new").colorbox({inline:true});

	var AppRouter = Backbone.Router.extend({
		routes: {
			"" : "index",
			"all" : "showAll",
			"year" : "showYear",
			"year/:year" : "showYear",
			"year/:year/m:month" : "showYear",

		},
		index: function() {
			console.log('DEFAULT')
			timelineController.changeScale('all')
		},
		showAll: function() {
			console.log('ALL')
			timelineController.changeScale('all')
		},
		showYear: function(year,month) {
			if(year)
				timelineController.changeScale('year',year*12+(month ? month-1 : 0))
			else
				timelineController.changeScale('year')
		},
		showMonth: function(year,month,week)  {
		}

	});

	var router = new AppRouter()
	Backbone.history.start();
	router.navigate();


})
</script>
<style type="text/css">
#timeline {
position:relative;
overflow:hidden;
width:1024px;
height:400px;
background-color:#ccc;
z-index:10;
}

.timeline-view {
	position:absolute;
}

.tm-slider {
	position:absolute;
	width:200px;
	height:200px;
}
.tm-entry {
	position:absolute;
	top:0px;
	left:0px;
	background-color:white;
}

.tm-entry-view {
	position:relative;
	width:200px;
	overflow:hidden
}

.tm-legend {
	position:absolute;
	bottom:0px;
}

#tm-entry-new {
	background-color:white;
}

</style>
<% end %>

<a id="link-new" href="#tm-entry-new" title="New Timeline Entry">new Timeline Entry</a>

<div style='display:none'>	
	<div id='tm-entry-new'></div>
</div>
<div id="timeline-nav">
<a href="#">All</a>
<a href="#year">Year</a>
Month
</div>
<div id="timeline">
</div>
