<% content_for(:scripts) do %>
<script type="text/coffeescript"></script>
<script type="text/javascript">
var timelineView;
$(function() {
	var AppRouter = Backbone.Router.extend({
		routes: {
			"index" : "index",
			"all" : "showAll",
			"year" : "showYear"
		},
		index: function() {
		},
		showAll: function() {
		},
		showYear: function() {
		}
	});

	var router = new AppRouter()
	Backbone.history.start();
	router.navigate();

	timelineView = new modules.TimelineView()
})
</script>
<% end %>
<h1>Listing timeline_entries</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timeline_entries.each do |timeline_entry| %>
  <tr>
    <td><%= link_to 'Show', timeline_entry %></td>
    <td><%= link_to 'Edit', edit_timeline_entry_path(timeline_entry) %></td>
    <td><%= link_to 'Destroy', timeline_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timeline entry', new_timeline_entry_path %>
<div id="timeline"></div>
