<h3>Politicians</h3>
<ul class="nav">
  <li><%= link_to '모두보기', admin_politicians_path %></li>
</ul>

<h3>Bills</h3>
<ul class="nav">
  <li><%= link_to '모두보기', admin_bills_path %></li>
</ul>


<% unless session[:admin].nil? -%>
  <%= link_to 'Logout', admin_logout_path, :class => 'link' %>
<% end -%>
