<tr>
  <td class="list_date"><%= timeline_entry.created_atimeline_entry.strftime("%Y-%m-%d") %></td>
  <td class="list_title"><%= timeline_entry.title %></td>
  <td class="list_count"><%= timeline_entry.recommend_count %></td>
  <td class="list_count"><%= timeline_entry.reportimeline_entry.count %></td>
</tr>
