<tr>
  <td class="list_date"><%= timeline_entry.created_atimeline_entry.strftime("%Y-%m-%d") %></td>
  <td class="list_title"><%= timeline_entry.title %></td>
  <td class="list_count"><%= timeline_entry.like %></td>
  <td class="list_count"><%= timeline_entry.blame %></td>
</tr>
