<h1><%= current_user.email %> <small>위폴 정보수정 페이지</small></h1>

<div class="row">
  <div class="span5 well">
    <h3>내가 올린 링크들</h3>
    <p>구현해달라능.. 헠헠</p>
  </div>

  <div class="span6 well">
    <h3>지지하는 정치인</h3>
    <p>없어 아직 그런거</p>
  </div>

  <div class="span5 well">
    <h3>SNS 연동</h3>
    <h4>Facebook</h4>
    <% if current_user.facebook_connected? -%>
      <div class="alert alert-success">
        Facebook 연동이 돼있습니다. <%= link_to "바로가기", "https://facebook.com/#{current_user.facebook_token.uid}" %>
      </div>
    <% else -%>
      <div class="alert">
        Facebook연동이 되어있지 않습니다.
      </div>
    <% end -%>

    <h4>Twitter</h4>
    <% if current_user.twitter_connected? -%>
      <div class="alert alert-success">
        Twitter 연동이 돼있습니다.
      </div>
    <% else -%>
      <div class="alert">
        Twitter 연동이 되어있지 않습니다. <%= link_to '연동하기', '#', :class => 'btn btn-small' %>
      </div>
    <% end -%>
  </div>
</div>
