<tr>
  <td class="list_date"><%= timeline_entry.created_at.strftime("%Y-%m-%d") %></td>
  <td class="list_title"><%= link_to timeline_entry.title, '#' %></td>
  <td class="list_count"><%= timeline_entry.like_count %></td>
  <td class="list_count"><%= timeline_entry.blame_count %></td>
</tr>
