<html>
  <head>
    <script type="text/javascript">
      if (window.opener) {
        window.opener.location = "<%=new_user_registration_url(:token => params[:token])%>";
        window.close();
      }

    </script>
  </head>
  <body>
    만약 이 팝업창이 꺼지지 않는다면 닫고 원래 페이지에서 새로고침 해 주십시오.
  </body>
</html>
