// Place all the styles related to the users/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
behavior:url(http://choco.wafflestudio.net:4010/PIE.htc);
  
  h1 {
    margin-top: 10px;
    text-decoration: none;
    font-size: 13pt;
    text-align: center;
  }

  #login_close {
    float: right;
    background: red;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
behavior:url(http://choco.wafflestudio.net:4010/PIE.htc);
    width: 15px;
    height: 15px;
    text-align: center;
  }
  #login_links_box {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #F4F4F4;
    #fb_login_btn, #twitter_login_btn {
      font-size: 10pt;
      display: block;
      margin: 0 auto;
      padding-left: 20px;
      width: 150px;
      height: 22px;
    }
  }

}
